<%= render 'layouts/header' %>
<p style="padding: 50px">
<div class="row">
  <div class="col-12">
    <h3 class="jumbotext">Simple, safe and affortable</h3>
  </div>
</div>
<p style="padding: 50px">

<div class="row">
  <div class="col-12">
    <h1 style="text-align: center">Our <span style="color: lightcoral;">Hostels</span> Can Offer</h1>
    <p style="padding: 10px;"></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '1.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Well Furnished Rooms En-suite</h2>
              <p>All Rooms are Well Furnished With Modern Day Furniture</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '2.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Fully Air Conditioner Rooms</h2>
              <p>All Rooms Are Fully Air Conditioned Rooms for Convenient Studying</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '1.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Well Furnished Rooms En-suite</h2>
              <p>All Rooms are Well Furnished With Modern Day Furniture</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '2.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Fully Air Conditioner Rooms</h2>
              <p>All Rooms Are Fully Air Conditioned Rooms for Convenient Studying</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '1.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Well Furnished Rooms En-suite</h2>
              <p>All Rooms are Well Furnished With Modern Day Furniture</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="grid">
        <figure class="effect-ruby">
          <%= image_tag '2.jpg', class: 'img-fluid', alt: 'hostel' %>
          <figcaption>
            <div>
              <h2>Fully Air Conditioner Rooms</h2>
              <p>All Rooms Are Fully Air Conditioned Rooms for Convenient Studying</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>